@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: normal;
  src: url('titillium-regular.eot');
  src: url('titillium-regular.eot?#ie') format('embedded-opentype'),
    url('titillium-regular.woff') format('woff'),
    url('titillium-regular.ttf') format('truetype'),
    url('titillium-regular.svg#titilliumregular') format('svg');
}
