﻿@import url('../fonts/titillium/titillium.css');

body {
  font-family: Titillium, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 150%;
  font-weight: normal;
}

a {
  color: #333;
  text-decoration: none;
  transition: opacity 0.25s;
}

canvas {
  width: 100%;
}

#wrapper {
  margin: 0 10px;
}

#contact {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#contact li {
  float: left;
  list-style: none;
}

#contact a {
  background-position: left center;
  background-repeat: no-repeat;
  color: #000;
  display: block;
  line-height: 32px;
  margin: 5px 20px;
  padding-left: 40px;
  opacity: 0.8;
}

#contact a:hover {
  opacity: 0.5;
}

#contact .code {
  background-image: url('../images/index/folder.png');
}

#contact .email {
  background-image: url('../images/index/mail.png');
}

#contact .skype {
  background-image: url('../images/index/skype.png');
}

@media all and (max-width: 400px) {

  #contact li {
    clear: both;
  }

}
